{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<nav>
  <form id="login" method="POST" action="/login/">
    <input type="text" id="username" name="username" placeholder="username">
    <input type="text" id="password" name="password" placeholder="password">
    {% csrf_token %}
    <input type="submit" value="Log In">
  </form>
</nav>
<main>
  <form id="signup" method="POST">
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="text" id="email" name="email" placeholder="email">
    <input type="text" id="password" name="password" placeholder="password">
    {% csrf_token %}
    <input type="submit" value="Sign Up">
  </form>
</main>
{% endblock %}
