<form method="POST" class="login-form">
    {% if "login" in request.path %}
    <a id="logo" href="/">pontefract</a>
    <div class="form-title">Sign in to your account</div>
    {% endif %}
    {% if form.errors.username %}<div class="error" id="username-error">{{ form.errors.username.0 }}</div>{% endif %}
    {{ form.username }}
    {{ form.password }}
    {% csrf_token %}
    {% if "login" in request.path %}
    <input type="submit" value="Sign In">
    {% else %}
    <input type="submit" class="delete-button" value="Delete">
    {% endif %}
</form>
