<div class="day-time-tracking">
    <div class="about-day">
        <div class="date">{{ day.day }}</div>
        <div class="total-time">{{ day.total_duration|time_string }}</div>
    </div>
    <table>
    {% for session in day %}

    <tr class="session">
        <td class="time-cell"><a href="/sessions/{{ session.id }}/" class="edit-link">
            {{ session.start|date:"H:i" }} - {{ session.end|date:"H:i" }}
        </a></td>
        <td class="name-cell"><a class="project-link" href="/projects/{{ session.project_id }}/">
            {{ session.project_name}}
        </a></td>
        <td class="duration-cell">{{ session.duration|time_string }}</td>
        <td class="breaks-cell">{% if session.breaks %}({{ session.breaks }} minute break){% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
</div>
