<div class="day-time-tracking">
    <div class="about-day">
        <div class="date">{{ day.0 }}</div>
        <div class="total-time">{{ day.1 }}</div>
    </div>
    <table>
    
    {% for session in day.2 %}
    <tr class="session">
        <td class="time-cell"><a href="/sessions/{{ session.id }}/" class="edit-link">
            {{ session.start|date:"H:i" }} - {{ session.end|date:"H:i" }}
        </a></td>
        <td class="name-cell"><a class="project-link" href="/projects/{{ session.project.id }}/">
            {{ session.project.name }}
        </a></td>
        <td class="duration-cell">{{ session.duration_string }}</td>
        <td class="breaks-cell">{% if session.breaks %}({{ session.breaks }} minute break){% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
</div>
