{% extends "user-base.html" %}


{% block title %}Delete Session{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/time-tracking.css">
{% endblock %}

{% block main %}
<h1>Delete Session</h1>

<form method="POST">
  <div class="session-summary">{{ session.duration_string }} on project '{{ session.project }}'</div>
  <p>Are you sure you want to delete this session?</p>
  <a class="back-link" href="/sessions/{{ session.id }}/">Go back</a>
  {% csrf_token %}
  <input type="submit" value="Delete" class="delete-button">
{% endblock %}
