{% extends "user-base.html" %}


{% block title %}Delete Session{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<div class="single-container">
    <form method="POST" class="deletion-form">
      <div class="delete-summary">{{ session.duration|time_string }} on project '{{ session.project }}'</div>
      <p>Are you sure you want to delete this session?</p>
      {% csrf_token %}
      <div class="nav-buttons">
        <a id="back-link" href="/sessions/{{ session.id }}/">Go back</a>
        <input type="submit" value="Delete" class="delete-button">
      </div>
    </form>
</div>
{% endblock %}
