{% extends "user-base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/time.css">
<link rel="stylesheet" href="/static/css/forms.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block title %}Edit Session{% endblock %}

{% block main %}
<div class="max-500">
    {% include "session-form.html" %}
    <div class="nav-buttons">
        <a href="/sessions/{{ form.instance.id }}/delete/" class="delete-link">Delete this session</a>
    </div>
</div>


{% endblock %}
