{% extends "user-base.html" %}
{% block title %}{{ month|date:'F Y'}}{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<div class="day-list-container">

    <div class="title-box">
        <h1>{{ month|date:'F Y'}}</h1>
        <div class="nav-buttons">
            {% if previous %}
            <a class="button" id="previous-month" class="block" href="/time/{{ days.0.previous_month|date:'Y/m/'}}">{{ days.0.previous_month|date:'F Y'}}</a>
            {% endif %}

            {% if next %}
            <a class="button" id="next-month" class="block" href="/time/{{ days.0.next_month|date:'Y/m/'}}">{{ days.0.next_month|date:'F Y'}}</a>
            {% endif %}
        </div>
    </div>

    {% for day in days %}
    {% include "components/day-sessions.html" %}
    {% endfor %}
</div>
{% endblock %}
