{% extends "user-base.html" %}
{% block title %}All Projects{% endblock %}
{% load humanize %}

{% block css %}
{% endblock %}


{% block main %}

<div class="title-box">
    <h1>All Projects</h1>
    <a href="/projects/new/" class="new-project-link">New Project</a>
</div>

<div class="projects-container">
    {% for project in projects %}
    <div class="project">
        <a class="project-name" href="/projects/{{ project.id }}/">{{ project.name }}</a>
        <div class="total-time"><strong>Total</strong>: {{ project.duration|time_string }}</div>
        <div class="last-done"><strong>Last Done</strong>: {% if project.duration %}{{ project.recent.end|naturalday }}{% else %}Never{% endif %}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
