{% extends "user-base.html" %}
{% block title %}{{ project.name }}{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<div class="day-list-container">
    
    <div class="title-box">
         <h1>{{ project.name }}</h1>
         <div class="total-time">{{ project.total_time|time_string }}</div>
         <a href="/projects/{{ project.id }}/edit/" class="edit-link">Edit Project</a>
    </div>

    {% for day in days %}
    {% include "components/day-sessions.html" %}
    {% endfor %}
</div>

{% endblock %}
