{% extends "user-base.html" %}
{% block title %}All Projects{% endblock %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="/static/css/time.css">
{% endblock %}


{% block main %}

<div class="all-projects">All Projects</div>

<div class="projects">
    {% for project in user.project_set.all %}
    <div class="project">
        <a class="project-name" href="/projects/{{ project.id }}/">{{ project.name }}</a>
        <div class="total-time"><strong>Total</strong>: {{ project.total_time_string }}</div>
        <div class="last-done"><strong>Last Done</strong>: {% if project.session_set.all %}{{ project.most_recent_session.end|naturalday }}{% else %}Never{% endif %}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
