{% extends "user-base.html" %}
{% block title %}All Projects{% endblock %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="/static/css/time.css">
{% endblock %}


{% block main %}

<div class="time-tracking-title">All Projects</div>

<div class="projects">
    {% for project in projects %}
    <div class="project">
        <a class="project-name" href="/projects/{{ project.id }}/">{{ project.name }}</a>
        <div class="total-time"><strong>Total</strong>: {{ project.duration|time_string }}</div>
        <div class="last-done"><strong>Last Done</strong>: {% if project.duration %}{{ project.recent.end|naturalday }}{% else %}Never{% endif %}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
