<form method="POST">

 <script>
  $( function() {
    var availableTags = [{% for t in user.project_set.all %}{% if not forloop.first %}, {% endif %}'{{ t }}'{% endfor %}];
    $( "#id_project" ).autocomplete({
      source: availableTags, delay: 0
    });
  } );
  </script>

    <div class="datetime">
        {% if form.errors.start %}
        <div class="error" id="start-error">
        {{ form.errors.start.0 }}
        </div>
        {% endif %}
        {{ form.start }}
    </div>

    <div class="datetime">
        {% if form.errors.end %}
        <div class="error" id="end-error">
        {{ form.errors.end.0 }}
        </div>
        {% endif %}
        {{ form.end }}
    </div>

    {% if form.errors.breaks %}
    <div class="error" id="breaks-error">{{ form.errors.breaks.0 }}</div>
    {% endif %}
    {{ form.breaks }}

    {% if form.errors.project %}
    <div class="error" id="project-error">{{ form.errors.project.0 }}</div>
    {% endif %}
    {{ form.project }}

    {% csrf_token %}
    <input type="submit">
</form>
