<form method="POST">

 <script>
  $( function() {
    var availableTags = [{% for t in user.project_set.all %}{% if not forloop.first %}, {% endif %}'{{ t }}'{% endfor %}];
    $( "#id_project" ).autocomplete({
      source: availableTags, delay: 0
    });
  } );
  </script>

    <div class="datetime">
        {% if form.errors.start_date or form.errors.start_time %}
        <div class="error" id="start-time-error">
        {{ form.errors.start_date.0 }}{{ form.errors.start_time.0 }}
        </div>
        {% endif %}
        {{ form.start_date }}{{ form.start_time }}
    </div>

    <div class="datetime">
        {% if form.errors.end_date or form.errors.end_time %}
        <div class="error" id="end-time-error">
        {{ form.errors.end_date.0 }}{{ form.errors.end_time.0 }}
        </div>
        {% endif %}
        {{ form.end_date }}{{ form.end_time }}
    </div>

    {% if form.errors.breaks %}
    <div class="error" id="breaks-error">{{ form.errors.breaks.0 }}</div>
    {% endif %}
    {{ form.breaks }}

    {{ form.project }}

    {% csrf_token %}
    <input type="submit">
</form>
