<form method="POST" class="session-form">
    <div class="form-title">{% if form.instance.id %}Edit{% else %}Add{% endif %} Session</div>
    <script>
    $( function() {
    var availableTags = [{% for t in user.project_set.all %}{% if not forloop.first %}, {% endif %}'{{ t }}'{% endfor %}];
    $( "#id_project" ).autocomplete({
      source: availableTags, delay: 0, autoFocus: true
    });
    } );
    </script>

    {{ form.start.label_tag }}
    <div class="datetime">
        {% if form.errors.start %}
        <div class="error" id="start-error">
        {{ form.errors.start.0 }}
        </div>
        {% endif %}
        {{ form.start }}
    </div>

    {{ form.end.label_tag }}
    <div class="datetime">
        {% if form.errors.end %}
        <div class="error" id="end-error">
        {{ form.errors.end.0 }}
        </div>
        {% endif %}
        {{ form.end }}
    </div>

    {{ form.breaks.label_tag }}
    {% if form.errors.breaks %}
    <div class="error" id="breaks-error">{{ form.errors.breaks.0 }}</div>
    {% endif %}
    {{ form.breaks }}

    {{ form.project.label_tag }}
    {% if form.errors.project %}
    <div class="error" id="project-error">{{ form.errors.project.0 }}</div>
    {% endif %}
    {{ form.project }}

    <script>

    </script>

    {% csrf_token %}
    <input type="submit" tabindex="7" value="Save">
</form>
