{% extends "user-base.html" %}
{% block title %}{{ day.0 }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/static/css/time-tracking.css">
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block main %}

<h1>{{ day.0 }}</h1>

{% include "day-sessions.html" %}
<a href="/time/{{ yesterday|date:'Y/m/d/'}}" class="yesterday-link block">See Yesterday</a>
{% if tomorrow == request.now.date %}
<a href="/" class="tomorrow-link">See Tomorrow</a>
{% else %}
<a href="/time/{{ tomorrow|date:'Y/m/d/'}}" class="tomorrow-link block">See Tomorrow</a>
{% endif %}
{% include "session-form.html" %}

{% endblock %}
