<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="pontefract - time tracking for individuals">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Arvo'
   rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">


  {% block head %}{% endblock %}
</head>

<!--I wasted time, and now doth time waste me.-->

<body>
{% block body %}{% endblock %}
</body>
</html>
