{% extends "user-base.html" %}
{% block title %}Delete Account{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<div class="single-container">
    <form method="POST" class="deletion-form">
      <div class="delete-summary">Are you sure you want to delete your account?</div>
      <p>This action can <strong>not</strong> be undone.</p>
      <p>If you are sure, enter your login details again below, and hit 'Delete'.</p>
      {% if error %}
      <div class="error" id="password-error">{{ error}}</div>
      {% endif %}

      <input type="password" placeholder="Password" name="password">
      {% csrf_token %}
      <div class="nav-buttons">
        <a id="back-link" href="/profile/">Go back</a>
        <input type="submit" value="Delete" class="delete-button">
      </div>
    </form>
</div>

{% endblock %}
