{% extends "user-base.html" %}
{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block title %}Home{% endblock %}

{% block main %}
<div id="user-time-tracking">
    <h2>Time Tracking</h2>

    <div id="today-time-tracking">
        <h3>{% now "jS F Y" %}</h3>
        <div class="total-time">{{ user.hours_worked_today }}.</div>
        <table>
        {% for session in user.sessions_today %}
        <tr class="session">
            <td>{{ session.start_time }} - {{ session.end_time }}:</td>
            <td>{{ session.project.name }}</td>
            <td>{{ session.duration_string }}</td>
            <td>{% if session.breaks %}({{ session.breaks }} minute break){% endif %}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    {% include "session-form.html" %}
</div>
{% endblock %}
