{% extends "user-base.html" %}
{% block title %}{{ user.username }}{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<div class="profile-container">

    <div id="user">
        <div id="sections">
            <a href="/profile/"class="section{% if page == 'profile' %} selected{% endif %}">Profile</a>
            <a href="/profile/time/" class="section{% if page == 'time' %} selected{% endif %}">Time</a>
            <a href="/profile/account/" class="section{% if page == 'account' %} selected{% endif %}">Account</a>
        </div>

        <div id="user-settings">
            {% if page == 'profile' %}
            <div class="row">
                <span class="field">Username</span>: <span class="value">{{ user.username }}</span>
            </div>
            <div class="row">
                <span class="field">Signed Up</span>: <span class="value">{{ user.date_joined.date }}</span>
            </div>
            <div class="row">
                <span class="field">Projects</span>: <span class="value">{{ user.project_count }}</span>
            </div>
            <div class="row">
                <span class="field">Hours logged</span>: <span class="value">{{ user.total_time|time_string }}</span>
            </div>
            {% else %}
            <form method="POST" class="settings-form">
                {% if page == 'time' %}
                {{ form.timezone.label_tag }}
                {{ form.timezone }}
                {{ form.project_order.label_tag }}
                {{ form.project_order }}
                {% elif page == 'account' %}
                <div class="form-title">Update your Email address</div>
                {% if form.email.errors %}
                <div class="error" id="email-error">{{ form.email.errors.0 }}</div>
                {% endif %}
                {{ form.email.label_tag }}
                {{ form.email }}
                <div class="form-title">Update your Password</div>
                {{ form.new_password.label_tag }}
                {{ form.new_password }}
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
                <div class="form-title">Enter current password to save changes</div>
                {% if form.current_password.errors %}
                <div class="error" id="current-password-error">{{ form.current_password.errors.0 }}</div>
                {% endif %}
                {{ form.current_password }}
                {% endif %}
                {% csrf_token %}
                <input type="submit" value="Save">
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
