{% extends "user-base.html" %}
{% block title %}{{ user.username }}{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<div class="profile-container">

    <div id="user">
        <div id="sections">
            <a href="/profile/"class="section{% if page == 'profile' %} selected{% endif %}">Profile</a>
            <a href="/profile/time/" class="section{% if page == 'time' %} selected{% endif %}">Time</a>
            <a href="/profile/account/" class="section{% if page == 'account' %} selected{% endif %}">Account</a>
        </div>

        <div id="user-settings">
            {% if page == 'profile' %}
            <div class="row">
                <span class="field">Username</span>: <span class="value">{{ user.username }}</span>
            </div>
            <div class="row">
                <span class="field">Signed Up</span>: <span class="value">{{ user.date_joined.date }}</span>
            </div>
            <div class="row">
                <span class="field">Projects</span>: <span class="value">{{ user.project_count }}</span>
            </div>
            <div class="row">
                <span class="field">Hours logged</span>: <span class="value">{{ user.total_time|time_string }}</span>
            </div>
            {% elif page == 'time' %}
            <form method="POST" class="settings-form">
                {{ form.errors }}
                {{ form.timezone.label_tag }}
                {{ form.timezone }}
                {{ form.project_order.label_tag }}
                {{ form.project_order }}
                {% csrf_token %}
                <input type="submit" value="Save">
            </form>
            {% elif page == 'settings' %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
