{% extends "user-base.html" %}
{% block title %}{{ user.username }}{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<div id="user-profile" class="single-container">

    <form id="settings-form" method="POST">
    {{ form.timezone.label_tag }}
    {{ form.timezone }}
    {% csrf_token %}
    <input type="submit" value="Save">
    </form>

    <div id="account-deletion"><div class="nav-buttons">
      <a href="/delete-account/" class="delete-link">Delete Account</a>
    </div></div>
</div>

{% endblock %}
