{% extends "base.html" %}

{% block head %}
<link href='https://fonts.googleapis.com/css?family=Shrikhand'
   rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/signup.css">
{% endblock %}

{% block body %}
<div id="top-panel">
    <h1>pontefract</h1>
    <div id="site-description">
        Time tracking for individuals - track how much time you spend on your
        projects.
    </div>
</div>

<div id="signup-panel">
{% include "signup-form.html" %}
</div>
{% endblock %}
