{% extends "user-base.html" %}
{% block title %}{{ month|date:'F Y'}}{% endblock %}

{% block css %}

{% endblock %}

{% block main %}

<h1>{{ month|date:'F Y'}}</h1>

{% if previous %}
<a id="previous-month" href="/time/{{ previous|date:'Y/m/'}}">{{ previous|date:'F Y'}}</a>
{% endif %}

{% if next %}
<a id="next-month" href="/time/{{ next|date:'Y/m/'}}">{{ next|date:'F Y'}}</a>
{% endif %}

{% for day in days %}
<div class="day-time-tracking">
    <h3>{{ day.0|date:"jS F Y"}}</h3>
        <div class="total-time">{{ day.1 }}.</div>
    <table>
    {% for session in day.2 %}
    <tr class="session">
        <td>{{ session.start_time }} - {{ session.end_time }}:</td>
        <td>{{ session.project.name }}</td>
        <td>{{ session.duration_string }}</td>
        <td>{% if session.breaks %}({{ session.breaks }} minute break){% endif %}</td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
