{% extends "base.html" %}

{% block head %}
<script src="/static/js/main.js"></script>
{% endblock %}

{% block body %}
<nav>
    <div id="logo">pontefract</div>
    <div id="mobile-menu"><div id="mobile-menu-icon">&#9776;</div></div>
    <div id="nav-links">
        <a>{{ user.username }}</a>
        <form id="logout-form" method="POST" action="/logout/">
            <a id="logout-link" href="javascript:void(0)" onclick="$(this).parent().submit()">Log Out</a>
            {% csrf_token %}
        </form>
    </div>
</nav>
{% endblock %}
