{% extends "base.html" %}

{% block head %}
<script src="/static/js/main.js"></script>
{% endblock %}

{% block body %}
<nav>
    <a href="/" id="logo">pontefract</a>
    <div id="mobile-menu">
        <div id="mobile-menu-icon"><div></div><div></div><div></div></div>
    </div>
    <div id="nav-links">
        <a href="/projects/" id="projects-link">Projects</a>
        <a href="/profile/" id="account-link">{{ user.username }}</a>
        <form id="logout-form" method="POST" action="/logout/">
            <a id="logout-link" href="javascript:void(0)" onclick="$(this).parent().submit()">Log Out</a>
            {% csrf_token %}
        </form>
    </div>
</nav>

<main>
{% block main %}
{% endblock %}
</main>
{% endblock %}
