<div class="day-sessions">

    <div class="about-day">
        <div class="date">{{ day.day }}</div>
        <div class="total-time">{{ day.total_duration|time_string }}</div>
    </div>


    <div class="sessions">
        {% if day.sessions %}
        {% for session in day %}
        <div class="session" data-id="{{ session.id }}">
            <div class="cell time-cell"><a href="/sessions/{{ session.id }}/edit/" class="edit-link">
                {{ session.start|date:"H:i" }} - {{ session.end|date:"H:i" }}
            </a></div>
            <div class="cell notes-cell">{% if session.notes %}<button class="notes-button" data-notes="{{ session.notes }}"></button>{% endif %}</div>
            <div class="cell name-cell"><a class="project-link" href="/projects/{{ session.project_id }}/">
                {{ session.project_name}}
            </a></div>
            <div class="cell duration-cell">{{ session.duration|time_string }}</div>
            <div class="cell breaks-cell">{% if session.breaks %}({{ session.breaks }} minute break){% else %}-{% endif %}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="session no-sessions"><div class="cell">You have no sessions for this day.</div></div>
        {% endif %}
    </div>

    {% if home %}
    <div class="nav-buttons">
        <a href="/day/{{ day.yesterday|date:'Y-m-d/'}}" class="yesterday-link">Yesterday</a>
        <a href="/time/{{ day.day|date:'Y-m/'}}" class="month-link">This Month</a>
    </div>
    {% elif "day" in request.path %}
    <div class="nav-buttons">
        <a href="/day/{{ day.yesterday|date:'Y-m-d/'}}" class="yesterday-link">Previous Day</a>
        {% if day.tomorrow == request.now.date %}
        <a href="/" class="tomorrow-link">Next Day</a>
        {% else %}
        <a href="/day/{{ day.tomorrow|date:'Y-m-d/'}}" class="tomorrow-link">Next Day</a>
        {% endif %}
    </div>
    {% endif %}

</div>
