// Discrete little widgets

.day-sessions {
    // The box which contains a day's date, a list of sessions, and some nav
    // buttons maybe
    @include white-box;

    .about-day {
        margin: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        .date {
            font-size: 1.9em;
        }
        .total-time {
            font-size: 1.2em;
        }
    }

    .sessions {
        margin-top: 1.5rem;
        font-size: 0.7em;
        width: 100%;
        box-sizing: border-box;

        .session {
            height: 3.5rem;
            display: flex;
            align-items: center;
            background: $pale-purple;

            .cell {
                text-align: center;
                white-space: nowrap;
                padding: 1rem;
                width: 100%;

                button {
                    cursor: pointer;
                    background-image: url("/static/images/notes.png");
                    background-position: center;
                    background-size: contain;
                    padding: 1rem;
                    border: none;
                    vertical-align: middle;
                    background-color: #ffffff00;
                    opacity: 0.3;
                }
            }

            .time-cell {
                padding-right: 0px;
                width: 10rem;
            }

            .notes-cell {
                padding: 0px;
                width: 2rem;
            }

            .name-cell {
                text-align: left;
                white-space: normal;
                width: 50%;
            }

            .duration-cell {
                width: 15%;
            }

            .breaks-cell {
                font-size: 0.7em;
                width: 15%;
            }
        }

        span {
            display: block;
            text-align: center;
            padding: $padding;
            padding-bottom: 1.5 * $padding;
            box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC
        }

        .session:nth-of-type(2n), .no-sessions {
            background: $very-pale-purple;
        }
    }
}


.title-box {
    // The box which serves as the heading for numerous pages
    @include white-box;
    text-align: center;
    font-size: 1.2em;
    padding: 3rem;
    text-align: center;

    a#logo {
        @include logo;
    }

    .total-time {
        font-size: 1em;
        margin-top: 2rem;
    }

    a {
        font-size: 0.8em;
    }

    .nav-buttons {
        padding: 1rem;
    }
}


.project {
    // The box which represents a project summary on a page full of projects
    @include white-box;
    padding: 1rem;
    font-size: 0.8em;
    text-align: center;

    .project-name {
        display: block;
        font-size: 1.5em;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .total-time {
        margin-bottom: 0.8rem;
    }
}


#user {

    #sections {
        display: grid;
        grid-template-columns: 10rem 10rem 10rem;
        font-size: 0.9em;
        width: fit-content;
        margin-left: $padding;
        margin-right: $padding;
        width: fit-content;
        width: -moz-max-content;
        @include margin-side(auto);

        .section {
            display: block;
            text-align: center;
            padding: 1rem;
            background-color: #FaFAfa;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            transition: background-color 0.8s;
            cursor: pointer;
            color: inherit;
        }

        .section:hover {
            background-color: $white;
            transition: 0.8s;
        }

        .section.selected {
            background-color: $white;
            border: 0.1rem solid $border-gray;
            border-bottom: none;
            margin-bottom: -0.1rem;
        }
    }

    #user-settings {
        @include white-box;
        border-top: 0.1rem solid $border-gray;
        padding: 2 * $padding;

        .rows {
            max-width: 50rem;
            @include margin-side(auto);

            .row {
                margin-top: 2 * $padding;
                margin-bottom: 2 * $padding;

                .field {
                    font-weight: bold;
                }
            }
        }

        form {
            box-shadow: none;
            max-width: 50rem;
            @include margin-side(auto);

            .form-title {
                font-size: 1.1em;
                margin-top: 5rem;
            }

            .form-title:first-child {
                margin-top: 0px;
            }
        }

        .container-foot {
            @include margin-side(-2 * $padding);
        }
    }
}


#top-panel {
    // The top panel on the landing page
    background-color: $purple;
    color: $white;
    padding: 1em;
    padding-top: 4rem;
    padding-bottom: 4rem;

    h1 {
        font-family: $logo-font;
        font-size: 4em;
        margin-bottom: 4rem;
    }

    #site-description {
        font-size: 1.3em;
        line-height: 2;
    }
}


#signup-panel {
    // The second panel on the landing page
    background-color: $border-gray;
}


.policy-box {
    //The box that contains a section of terms and conditions
    @include white-box;
    padding: $padding;

    h2 {
        margin-bottom: 3rem;
    }

    ul {
        padding-left: 0px;

        li {
            list-style: none;
            line-height: 1.75;
            margin-bottom: 3rem;

            .question {
                font-weight: bold;
            }
        }
    }
}

@mixin components--tablet() {
    .day-sessions {
        .sessions {
            .session {
                font-size: 1.2em;
            }
        }
    }

    #user {

        #sections {
            grid-template-columns: 14rem 14rem 14rem;
        }
    }

    #signup-panel {
        padding: $padding;
    }

    .policy-box {
        padding: 2 * $padding;
    }
}


@mixin components--laptop() {
    #user {

        #sections {
            grid-template-columns: 18rem 18rem 18rem;
        }

    }

    #top-panel {
        font-size: 1.3em;
        padding: 3em;

        h1 {
            font-size: 4.5em;
            margin-bottom: 5rem;
        }
    }

    .policy-box {
        padding: 3 * $padding;
    }
}
