html {
    text-align: center;
    font-size: 200%;
}

#top-panel {
    background-color: #a7d0f9;
    color: #561a3e;
    padding-bottom: 40px;
}

h1 {
    font-family: "Patua One";
    margin-top: 0px;
    padding-top: 50px;
    font-size: 190%;
}

#site-description {
    font-size: 80%;
    line-height: 2;
    margin-left: 2%;
    margin-right: 2%;
}

#signup-panel {
    padding: 0px;
    background-color: #f7e2ee;
}

form {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}

form input, form label, form select, form div {
    font-size: 50%;
}

label {
    text-align: left;
    display: block;
}

h2 {
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 90%;
}

form input[type=submit] {
    background-color: #27ae60;
    color: #ffffff;
}

.login {
    font-size: 50%;
    margin-top: 30px;
}


@media only screen and (min-width: 568px) {
    /* iPad and up */

    h1 {
      font-size: 200%;
    }

    #signup-panel {
      padding: 10px;
    }

    form {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
    }
}


@media only screen and (min-width: 769px) {
    /* Small Desktop screens and up */
    h1 {
        font-size: 300%;
    }

    form {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (min-width: 1025px) {
    /* Big Desktop screens */
}
