html {
    text-align: center;
    font-size: 200%;
}

#top-panel {
    background-color: #a7d0f9;
    color: #561a3e;
    padding-bottom: 40px;
}

h1 {
    font-family: Shrikhand;
    margin-top: 0px;
    padding-top: 50px;
}

#site-description {
    font-size: 80%;
    line-height: 2;
    margin-left: 2%;
    margin-right: 2%;
}

#signup-panel {
    padding: 30px;
    background-color: #f7e2ee;
}

form {
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 90%;
}

form input[type=submit] {
    background-color: #27ae60;
    color: #ffffff;
}


@media only screen and (min-width: 568px) {
    /* iPad and up */
}


@media only screen and (min-width: 769px) {
    /* Small Desktop screens and up */
    h1 {
        font-family: Shrikhand;
        font-size: 300%;
    }

    form {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (min-width: 1025px) {
    /* Big Desktop screens */
}
