form {
    padding: 30px;
}

form input[type=submit] {
    background-color: #27ae60;
    color: #ffffff;
}


@media only screen and (min-width: 568px) {
    /* Small Desktop screens and up */

    form {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
