.project {
  padding: 20px;
  padding-left: 10px;
  border: 1px solid silver;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project h3 {
  font-size: 150%;
  margin-bottom: 10px;
}

.project .total-time, .project .last-done {
  line-height: 1.4;
  font-size: 110%;
}

.date {
  font-size: 140%;
  font-style: italic;
}

.total-time {
  font-size: 120%;
}

.day-time-tracking {
  margin-top: 35px;
  margin-bottom: 35px;
}

table {
  margin: 0px;
  margin-top: 15px;
  text-align: left;
}

a.block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.session-form {
  width: 300px;
}
.session-form h3 {
  text-align: left;
}
.session-form input {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 110%;
  padding: 3px;
}
.session-form input[type=date] {
  width: 60%;
}
.session-form input[type=time] {
  width: 40%;
}
.session-form input[type=number] {
  width: 100px;
}
