#time-tracking {
    display: grid;
    grid-gap: 12px;
    background-color: #e9ebee;
}

.about-day {
    margin: 20px;
    margin-top: 10px;
}

.date {
    padding-top: 15px;
    font-size: 200%;
}

.total-time {
    font-size: 120%;
}

.day-time-tracking table {
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    table-layout: auto;
    box-sizing: border-box;
}

.day-time-tracking table tr {
    font-size: 70%;
    height: 35px;
    box-sizing: border-box;
    background: #6b5ce805;
}

.day-time-tracking table tr:nth-child(odd) {
    background: #6b5ce817
}

.day-time-tracking table tr td {
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    padding: 10px;
}

.day-time-tracking table tr td.time-cell {
    width: 15%;
}

.day-time-tracking table tr td.name-cell {
    text-align: left;
    white-space:normal;
}

.day-time-tracking table tr td.duration-cell {
    width: 15%;
}

.day-time-tracking table tr td.breaks-cell {
    width: 10%;
    font-size: 70%;
}

.time-tracking-nav-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}


.yesterday-link, .month-link, .tomorrow-link, .delete-link, .back-link, .time-tracking-nav-buttons input[type=submit] {
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: #00b894;
    color: #ffffff;
    padding: 11px;
    border-radius: 4px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.delete-link, input[type=submit].delete-link {
    padding: 6px;
    background-color: #c0392b;
    font-size: 90%;
}

#editing-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.session-form {
    padding: 12px;
}

.month-overview {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-gap: 12px;
    background-color: #e9ebee;
}

.project {
    padding: 8px;
    font-size: 70%;
}

.project .project-name {
    display: block;
    margin: 10px;
    margin-left: 0px;
    font-size: 150%;
}

.time-tracking-title {
    font-size: 240%;
    margin-bottom: 12px;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
}


@media only screen and (min-width: 568px) {
    /* iPad and up */
    .day-time-tracking table tr {
        font-size: 80%;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
    }
}



@media only screen and (min-width: 769px) {
    /* Small Desktop screens and up */
    #time-tracking {
        grid-template-columns: auto 350px;
    }

    .projects {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
