main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
}

.information {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
  padding-left: 0px;
  padding-right: 0px;
}

table {
  font-size: 75%;
}

label {
  font-size: 90%;
}

.delete-button {
  color: #8f1d21;
  font-weight: bold;

}


@media only screen and (min-width: 568px) {
    /* iPad and up */
    main {
        padding-left: 60px;
        padding-right: 60px;
    }

    table {
      font-size: 80%;
    }
}


@media only screen and (min-width: 769px) {
    /* Small Desktop screens and up */
    main {
        width: 769px;
        margin-left: auto;
        margin-right: auto;
    }

    table {
      font-size: 90%;
    }
}


@media only screen and (min-width: 1025px) {
    /* Big Desktop screens */

    table {
      font-size: 95%;
    }
}
